.logo__img {
    width:105px;
    height:40px;
}

.user-nav__icon {
    width:18px;
    height:18px;
}

.site-nav__link--activ {
    border-bottom: 2px solid #4D66EC;
    color:#4D66EC;
}

a {
    text-decoration: none;
}

.site-nav__link--benefits {
    color:#FB0F39;
}

.page-header__picture {
    background-image: url(/img/pic.png);
}